*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4{
    color: #282120;
}
body{
    font-family: 'Dongle', sans-serif;
    background-color: #000000;
}
.App{
    transition: all 0.5s ease;
}
.gallery-is-active{
    margin-left: 20%;
}


@import "./player";
@import "./song";
@import "./song-gallery";
@import "./navigation";